<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/543b324c-edd7-45b4-81cb-fc57bf84ca29/resourceGroups/CS_190_ASPCore_ResourceGroup/providers/Microsoft.Web/sites/NasaApp</ResourceId>
    <ResourceGroup>CS_190_ASPCore_ResourceGroup</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <PublishUrl>https://nasaapp.scm.azurewebsites.net/</PublishUrl>
    <SiteUrlToLaunchAfterPublish>https://nasaapp.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <UserName>$NasaApp</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>