@page
@{
    ViewData["Title"] = "Contact Me";
}

<h2>Contact Me</h2>
<h5>Name: Said Mamirov</h5>
<h5>Email: sm67@stmarys-ca.edu</h5>
<h5>Github: <a href=https://github.com/smamirov>https://github.com/smamirov</a></a></h5>


